body {
    font-family: Arial, sans-serif;
    background-image: url('todo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h2 {
    margin-top: 0;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightblue;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 3px;
    margin-bottom: 5px;
    position: relative;
}

.created-at {
    font-size: 12px;
    color: #888;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    background-color:#008CBA;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    cursor: pointer;
}

.task-buttons {
    margin-top: 10px;
}

.task-buttons button {
    margin-right: 5px;
    background-color: #0885ae;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    cursor: pointer;
}

.task-buttons button:hover {
    background-color: #005b80;
}
